<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show</title>
</head>
<body>
  <h1>Post ID: <%= posts.id  %> </h1>
  <h2><%= posts.bookTitle %> </h2>
  <p><%= posts.bookSum  %> </p>
  <a href="/posts">Back to Index</a>
  <a href="/posts/<%= posts.id %>/edit">Edit Comment</a>
  <form method="POST" action="/posts/<%= posts.id %>?_methodDELETE">
    <button>Delete</button>
  </form>
</body>
</html>